@{
    ViewBag.Title = "Home Page";
}

    <script type="text/javascript">
        $(document).ready(function(){


            $('#search').ravsAutoComplete({
                url: "/Home/LookupinDictionaryWithLimit"
            });

        });

    </script>

<div class="jumbotron">
    <table>
        <tr>
            <td>
                <label style="font-weight: bold;">
                    Sample Text <strong>:</strong>
                </label>
                @Html.TextBox("search", "", new { @class = "textbox", @style = "width:220px" }) 
            </td>
        </tr>
    </table>
</div>
